#start {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

body {
    background-color: black;
}

div {
    flex-basis: 6.2%;
}

.etchCell {
    background-color: red;
}
#etchCell {
    background-color: red;
}
